* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
}

html {
    font-size: 16px;
}

h1 {
    
    font-size: 2.5rem;
}

body {
    font-family: sans-serif;
    
}

nav {
    display: flex;
    padding: 10px;  
    position: fixed; 
    background-color: white;
    z-index: 10;
    width: 100%;
    font-size: 0.9rem;
    border-bottom: rgba(202, 201, 201, 0.822) solid 0.1px;
    color: black;
}

button {
    border: none; 
    outline: none;
    background-color: #E7513B;
    color: white;
    border-radius: 15px;
    font-weight: bold;
}

button:hover {
    cursor: pointer;
    background-color: #e6442b;
    transition: 1s;
}

input {
   border: none;
   background-color: #F5F4F2; 
   color: black;
}

input:focus {
    outline: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:hover, a:active, a:visited {
    color: black;
}

.navigation {
    display: none;
}

.logo {
    height: 60px;
    align-self: flex-start;
    flex: 1 1 33px;
}

.login {
    width: 200px;
    height: 60px;
    padding: 13px 0;
    justify-self: self-end;
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
}

.login-1 {
    padding-top: 10px;
    flex: 0 0 50px;
}

.login-2 {
    flex: 0 0 150px;
}

.mobile-nav-icon {
    padding: 4px 0 0 8px;
    width: 30px;
}

.mobile-nav-icon:hover {
    opacity: 0.4;
}

.search {
    width: 100vw;
    height: 60px;
}

.login button {
    padding: 5px;
    height: 35px;
    width: 150px;
    margin: 0px 0px 0px 5 px;
}

.search-line {
    Width: 90%;
    height: 60%;
    margin: 10px auto;
    padding: 10px 0px 5px 10px;
    background-color: #F5F4F2;
    border-radius: 12px;
    
}

.logo img {
    margin: 10px 0px 10px 5px;
}

.intro-wrapper {
    padding-top: 120px;
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #141518;
    color: white;
}

.intro-photos {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: 1fr 1fr;
}

.intro-photos div img {
    width: 100%;
}

.intro-photos div:first-child {
    grid-column: 2/9;
    grid-row: 1;
}

.intro-photos div:nth-child(2) {
    grid-column: 10/18;
    grid-row: 1;
}
.intro-photos div:nth-child(3) {
    grid-column: 19/25;
    grid-row: 1;
}

.intro-photos div:nth-child(4) {
    grid-column: 1/9;
    grid-row: 2;
}
.intro-photos div:nth-child(5) {
    grid-column: 10/16;
    grid-row: 2;
}
.intro-photos div:nth-child(6) {
    grid-column: 17/24;
    grid-row: 2;
}

.intro-text {
    padding: 70px 40px 40px 40px;
}

.intro-text h1 {
    font-size: 2.7rem;
    margin: 0 0 20px 0;
    line-height: 55px;
}

.intro-text p {
    margin-bottom: 10px;
    font-size: 1rem;
    line-height: 25px;
}

.intro-text button {
    padding: 5px;
    height: 45px;
    width: 180px;
    margin: 20px 0px 40px 0px;
    border-radius: 22px;
    font-size: 1rem;
}

.artist-wraper {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 60px 40px 60px 40px;
}

.artist-quote {
    font-size: 1rem;
}

.artist-photo img {
    margin: 15px;
}

.artist-photo p {
    margin: 10px;
    font-size: 1rem;
}

.icons-wraper {
    background-color: #0C0D11;
    display: flex;
    color: white;
    flex-direction: column;
    padding: 60px 40px 60px 40px;
    font-size: 1rem;
}

.icons-wraper h1 {
    margin-bottom: 40px;
}

.icons-wraper p {
    margin-bottom: 30px;
}

.icons-main {
    text-align: center;
}

.icons-features {
    display: flex;
    flex-direction: column;
}

.icons-feature {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 20px 0;
}

.feature-text {
    margin: 0 30px;
}

.feature-text h2 {
    margin-bottom: 20px;
}

.who-wraper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 60px 40px 60px 40px;
}

.who {
    width: 30%;
    text-align: center;
    margin-top: 20px;
    position: relative;
}

.who img {
    width: 90%;
}

.who button {
    display: none;
    position: absolute;
    left: 20%;
    top: 35%;
    width: 65%;
    height: 15%;
    font-size: 2.5vw;
    color: gray;
    background-color: white;
}

.who:hover button {
    display: block;
}

.who:hover img {
    opacity: 0.4;
}


#who h1 {
    text-align: center;
    margin-top: 60px;
}

.who h2 {
    font-size: 1.2rem;
    margin: 10px 0;
}

footer {
    background-color: #141518;
    color: white;
    display: flex;
    flex-wrap: wrap;
    padding: 60px 20px 2px 20px;
}

.footer-item {
    width: 50%;
    padding: 15px 0;
}

.footer-item:first-child {
    display: flex;
    flex-direction: column;
}

.footer-item:nth-child(2) {
    display: flex;
    justify-content: flex-end;
}

.footer-item ul li {
    margin: 8px;
    font-size: 0.9rem;
}

.footer-item ul li:first-child {
    font-size: 0.7rem;
    font-weight: bold;
}




.netherlands {
    display: flex;
    flex-direction: column;
    border: solid white 2px;
    width: 140px;
    height: 70px;
    border-radius: 5px;
    padding-bottom: 10px;
    font-weight: bold;
    margin-top: 5px;
}

.netherlands img {
    width: 20px;
    margin: auto;
}

.netherlands p {
    text-align: center;
    margin-top: 6px;
}

.footer-item:last-child {
    width: 100%;
}

.footer-item:last-child ul {
    flex-direction: row;
    display: flex;
}

ul {
    list-style: none;
}

.social-icons {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #5B5C5E;
    padding: 12px;
    margin: 5px;
}

.social-icons:hover {
    background-color: #6e7072;
    cursor: pointer;
}


footer a, footer a:hover, footer a:active, footer a:visited {
    color: white;
}

.footer-item:first-child a:hover {
    text-decoration: none;
}

@media screen and (min-width: 770px) {

    .intro-text h1 {
        font-size: 3.3rem;
    }

    .artist-wraper {
        flex-direction: row-reverse;
        align-items: center;
    }

    .artist-photo {
        width: 30%;
    }

    .artist-quote {
        width: 70%;
        font-size: 1.4rem;
        text-align: left;
        padding-right: 40px;
    }

    .icons-main {
        padding-right: 60px;
        padding-left: 60px;
    }

    .icons-features {
        flex-direction: row;
    }

    .icons-feature {
        width: 33%;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .who {
        width: 25%;
    }

}

@media screen and (min-width: 860px) {

    

    .artist-quote {
        padding-right: 10%;
    }

    .icons-main {
        padding-right: 20%;
        padding-left: 20%;
    }

    .who button {
        left: 30%;
        width: 40%;
        height: 10%;
        font-size: 1rem;
    }

    

}

@media screen and (min-width: 1024px) {

    .intro-wrapper {
        padding-top: 60px;
    }

    .mobile-nav-icon {
        display: none;
    }

    nav {
        flex-wrap: nowrap;
    }

    .login {
        order: 3;
        
    }

    .logo {
        display: flex;
        flex-wrap: nowrap;
    }

    .navigation {
        display: flex;
        align-self: center;
        flex-wrap: nowrap;
        justify-content: space-around;
    }

    .dropdown a:hover {
        text-decoration: none;
    }

    .dropdown a {
        padding: 0 15px;
    }

    .dropdown p {
        padding: 20px 15px;
    }

    .navigation li {
        display: block;
        margin: 0 10px;
    }

    .dropdown li {
        margin: 0;
    }

    .dropdown li:hover {
        background-color: rgb(233, 232, 232);
    }

    .navigation li:hover {
        cursor: pointer;
    }

    .navigation li:nth-child(1) a:hover, .navigation li:nth-child(2) a:hover, .navigation li:nth-child(4) a:hover {
        text-decoration: none;
    }

    ul li ul {
        display: none;
        position: absolute;
        background-color: white;
        padding-top: 30px;
    }

    .navigation li:hover > ul, .navigation li ul:hover {
        display: block;
    }

    ul li ul li {
        padding-top: 10px;
    }

    .first li, .third li {
        width: 200px !important;
    }

    .second {
        height: 90vh;
        overflow-y: scroll;
    }

    .second li, .third li {
        width: 250px;
        padding: 20px 0;
    }

    .nav-icon {
        color: blue;
        margin-right: 10px;
        
    }

    .search {
        width: 250px;
        
    }

    .intro-wrapper {
        flex-direction: row;
        align-items: center;
    }

    .intro-text {
        width: 50%;
    }

    .intro-photos {
        width: 50%;
        align-items: end;
    }

    .intro-photos div:first-child {
        grid-column: 9/18;
        grid-row: 1;
    }
    
    .intro-photos div:nth-child(2) {
        grid-column: 13/25;
        grid-row: 2;
    }
    .intro-photos div:nth-child(3) {
        display: none;
    }
    
    .intro-photos div:nth-child(4) {
        grid-column: 1/13;
        grid-row: 2;
    }
    .intro-photos div:nth-child(5) {
        grid-column: 1/8;
        grid-row: 1;
    }
    .intro-photos div:nth-child(6) {
        grid-column: 18/25;
        grid-row: 1;
    }

    .footer {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .footer-item:first-child {
        width: 35%;
    }

    .footer-item:nth-child(3), .footer-item:nth-child(4), .footer-item:nth-child(5), .footer-item:nth-child(6) {
        width: 16%;
    }

    .footer-item:nth-child(2) {
        width: 100%;
        order: 6;
        justify-content: flex-start;
        padding-left: 20px;
    }

    .footer-item:nth-child(7) {
        order: 7;
    }

}

