* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-wrap: wrap;
}

body {
    font-family: sans-serif;
    font-size: 14px;
}

nav {
    display: flex;
    margin: 12px;   
    /* justify-content: flex-start; */
}

button {
    border: none; 
    outline: none;
    
}

button:hover {
    cursor: pointer;
}

input {
   border: none;
   background-color: #F5F4F2; 
   color: black;
}

input:focus {
    outline: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:hover, a:active, a:visited {
    color: black;
}

.logo {
    /* width: 10vw; */
    height: 60px;
    align-self: flex-start;
    /* flex-shrink: 2; */
    flex: 1 1 30px;
}

.login {
    width: 55vw;
    height: 60px;
    padding: 13px;
    justify-self: self-end;
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
}

.login-1 {
    flex: 0 0 60px;
}

.login-2 {
    flex: 0 0 165px;
}

.mobile-nav-icon {
    flex: 0 0 30px;
}

.search {
    width: 100vw;
    height: 60px;
}

.login button {
    padding: 5px;
    background-color: #E7513B;
    color: white;
    height: 35px;
    width: 150px;
    border-radius: 15px;
    font-weight: bold;
    margin: 0px 0px 0px 5 px;
    
}

.search-line {
    Width: 90%;
    height: 60%;
    margin: 10px auto;
    padding: 10px 0px 5px 10px;
    background-color: #F5F4F2;
    border-radius: 12px;
    
}

/* .mobile-nav-icon i {
    margin: 15px 0px 15px 10px;
} */

.logo img {
    margin: 10px 0px 10px 5px;
}

